:root{
    --back: rgb(235, 235, 235);
    --html: rgb(110, 110, 110);
}

html{
    color: rgb(0, 0, 0);
    background: var(--html);
    /* rgb(235, 235, 235);    */
}

body{
    background: var(--back);
}

h5{
    font-weight: bold;
}
/* nav a{
    color: red;
}
nav a:hover{
    color: green;
} */

footer{
    padding-bottom: 20px;
}

/* footer a{
    background-size: 100px;
    background-image: url("../files/GitHub-Mark-32px.png")
} */

footer a img{
    width: 40px;
    height: 40px;
}
footer a img:hover{
    filter: contrast(50%);
    -webkit-filter: contrast(50%); /* Safari 6.0 - 9.0 */
}

/* .content{
    max-width: 720px;
} */

code{
    background: darkslategray;
    max-height: 400px;
}
