.main-test{
  img{
    width: 100px;
    height: 100px;
    float: left;
  }

  .test-header{
    width: calc(90%);
    display: inline-flex;
  }

  .test-title{
    display:inline-flex;
    flex-direction: column;
    margin-right: auto;
    *{
      padding:0;
      margin:0;
    }
  }
}